@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.query {
    width: 100%;
  }

  
  .card-header {
    width: 280px;
    height: 100px;
    background-color: #A084CE;
    border-radius: 12px; /* border round of 12px */
    overflow: hidden; /* prevent child element overflow */
    
  }
  .card-title {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #FBF7F4;
    text-align: left;
    margin-left: 40px;
  }
  .card-description {
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: Semi-Bold;
    color: #FBF7F4;
    text-align: left;
    margin-left: 40px;
  }
  .card-body {
    padding: 8px;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    background-color: #332F36;
    border-radius: 12px;
    width: 941px;
    height: 70px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #FBF7F4;
    font-size: 18px;
    font-family: 'Open Sans';
    outline: none;
    margin-left: 36px;
  }

  button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 36px;
    color: #FBF7F4;
  }
  