@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background-color: #272429;
}

.query {
    width: 100%;
  }

  .rectangle-pane {
    width: fit-content;
    height:100vh;
    background-color: #332F36;
    padding: 20px;
    position: absolute;
    top: 0;
    left:  0;
  }

  .your_courses {
    font-size: 20px;
    font-family: 'Ubuntu', Bold;
    color: #fbf7f4c0;
    text-align: center;
    padding: 10px;
  }
  
  .card-header {
    width: 280px;
    height: 100px;
    background-color: #272429;
    border-radius: 12px; /* border round of 12px */
    overflow: hidden; /* prevent child element overflow */
    
  }
  .card-title {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #fbf7f4ca;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .card-description {
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: Semi-Bold;
    color: #fbf7f4ba;
    text-align: left;
    margin-left: 40px;
    margin-right: 20px;
  }
  .card-body {
    padding: 8px;
  }