@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.Login {
  text-align: center;
  background-color: #272429;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f7f4;
}

.container {
  align-self: center;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -10px;
}
.circle {
  margin: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4B415A;
}

.welcome_text {
  color: #f8f7f4;
  font-family: 'Ubuntu', bold;
  font-size: 36px;
  position: relative;
  top: -10px;
}

.login_button {
  background-color: #A084CE; /* Green */
  border-radius: 12px;
  border: none;
  text-decoration: none;
  color: #4B415A;
  padding: 16px 32px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 1000;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.2s;
  align-self: center;
  position: relative;
  top: 14px;
  
}

.login_button:hover {
  transform: scale(1.02);
  background-color: #f8f7f4;
  color: #A084CE;
}